<div>
 <section id="pricing">
        <div class="wrap ms-hero-img-airplane ms-hero-bg-royal ms-bg-fixed">
            <div class="container">
                <div class="text-center mb-4">
                    <!-- <h2 class="uppercase color-white wow fadeInDown animation-delay-2">See our subscription plans</h2>
                    <p class="lead uppercase color-light wow fadeInDown animation-delay-2">Surprise with our unique features</p>
                </div> -->
            </div> 
            </div>
        </div>
    </section> 
</div>